*,
*::before,
*::after {
box-sizing: border-box;
  margin: 0;
  padding: 0;
  --sidebar-bg: #333;           /* Sidebar background */
  --sidebar-text: #fff;         /* Sidebar text */
  --main-bg: #f9f9f9;          /* Main page background */
  --text-color: #333;          /* General text color */
  --accent-color: #5D7B9B;     /* Accent or brand color (e.g., for buttons) */
  --card-bg: #fff;             /* Card background color */
  --box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}


body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    color: var(--text-color)
}


main {
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    min-height:100vh;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var( --sidebar-bg);
    color: var(--sidebar-text);
    padding: 1rem;
}

.side-bar-header {
    margin-bottom: 1rem;
}

.side-bar-header h1 {
    display:flex;
    align-items: center;
    color: var(--sidebar-text);
    font-size: 1.5rem;
}


.side-bar-header h1 .icon-svg {
    width: 4rem;
}

nav ul {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

nav li {
    margin: 0.5rem 0;
}

nav a {
    color: var(--sidebar-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #334155;
}



#header {
    grid-column: 2;
    grid-row: 1;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* er den nødvending ? */
    display:flex;
    flex-direction: column;

}

#search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    gap: 20px;
}


.search-bar {
    display:flex;
    align-items: center;
    flex-grow: 1;
}

.search-bar input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #e8e8e8;
}

.search-profile {
    display: flex;

}

.user-icon {
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    height: auto;
    width: 64px;
}

.search-profile {
    display: flex;
    align-items: center;
}

.search-profile span {
    padding: 0 0px 0 10px;
}



#action-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 0rem;
}

.action-profile {
    display: flex; 
    align-items: center;
    gap: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .btn {
    padding: 8px 15px;
    color: var(--sidebar-text);
    background-color: #5A5A5A;
    border: none;
    border-radius: 6px;
    transition:  background-color 0.3s;
}

.action-buttons .btn:hover {
    background-color: #6F6F6F;
}

#main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.icon-svg {
    width:50px;
    padding:10px;
    
}

